<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hack this site | Gästbok</title>
    <link rel="stylesheet" href="css/style.css">
    <script defer src="js/guestbook.js"></script>
</head>
<body>
    <h1>Gästbok</h1>
    <p> <a href="/">Hem</a> </p>

    <section id="guestbook"></section>

    <section>
        <input type="hidden" id="userId">
        <input type="text" id="commentText" class="input-field">
        <button id="addButton" class="button">Lägg till</button>
    </section>

</body>
</html>
